.autocomplete-reset-float {
  clear:both;

}
ul.autocomplete.dropdown-menu {

  padding-top:0px;
  padding-bottom:1px;
  font-family: Arial,sans-serif;
  backgorund-color:white;
  position: absolute;
  width:100%;
  left: 15px;

  .top-label {
    top:60px;
  }
  .top-sin-label {
    top:35px;
  }
  li {
    padding: 7px;
  }
  li p {
    margin: 0px;
  }
}

autocomplete-resource .alert {
  padding: 5px;
  margin-top: 5px;
  display:inline-block;
  margin-bottom:0px;
}

autocomplete-resource {
  .tieneAlert {
    height:35px;
  }
}
.autocomplete {
  /* .item:hover {

     .itemlabel {
       color: white;
     }
     .itemicon {
       color: white;
     }
   } */
  .item.active {
    background-color: #ebf2fe;
    .itemlabel {
     // color: white;
    }
    .itemicon {
      color: red;
    }

  }
  .item {

    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 13px;
    line-height:13px;
    color: #999;

    .itemlabel {


      padding-right: 3px;
      color: #000;
    }
    .itemicon {

      color: #bbb;

      margin-right: 5px;

    }
    .itemdescrip{


    }
    .itemdescrip2{

      padding-left:15px;
    }
  }

  .autocomplete-warning-label {
    color: #aaa;
    font-size: 11px;
  }
}
