<h4>Test autocomplete angular</h4>

<autocomplete-resource isrequired="true" itemicon="glyphicon glyphicon-tag" requiredmsj="" idautocomplete=""
                                           classautocomplete="form-control" label="Test" itemdescrip="texto" itemdescrip2="texto2"
                                           placeholder="Ciudades" itemlabel="descripcion" model="model.ciudad"
                                           modelsourcename="TestService" serviceatributefiltername="search">
                            </autocomplete-resource>

