<h4>Test autocomplete angular</h4>
<form name="formulario">
                                        <autocomplete-resource
                                          input-size=""
                                          item-detail="false"
                                          tooltipplacement="left"
                                          withtooltip="false"
                                          showarrowbtn="true"
                                          popover-detail="false"
                                          popover-detail-placement="right"
                                          wrap-text="false"
                                          isrequired="condiciones.required"
                                          resultsin="data"
                                          itemicon="glyphicon glyphicon-tag"
                                          requiredmsj="requerido"
                                          itemlabel="descripcion"
                                          on-remove="quiteItem()"
                                          idautocomplete=""
                                          classautocomplete="form-control" label="Test"
                                          placeholder="Ciudades"
                                          model="model.ciudad"
                                          modelsourcefunction="query"
                                          searchtext=""
                                          modelsourcename="TestService"
                                          serviceatributefiltername="search"
                                          clear-input-on-blur="false"
                                          interval-wait-to-call="600"
                                          >
                            </autocomplete-resource>
search text: {{searchText}}
<br>
  <input type="checkbox"
         ng-model="condiciones.required"
         ng-true-value="true"
         [ng-false-value="false">
</form>
<button class="btn btn-default" ng-click="model.ciudad=null"> borrar</button>
<span ng-if="formulario.$invalid">Formulario invalido</span>
