<h3> autocomplete-resource</h3>

<autocomplete-resource isrequired="true" itemicon="glyphicon glyphicon-tag" requiredmsj="" itemdescrip="texto" idautocomplete=""
                                           classautocomplete="form-control" label="Test"
                                           placeholder="Ciudades" itemlabel="descripcion" model="model.ciudad"

                                           modelsourcename="TestService" serviceatributefiltername="search">
                            </autocomplete-resource>

