<h4>Test autocomplete angular</h4>
<autocomplete-resource isrequired="true" itemicon="glyphicon glyphicon-tag" requiredmsj="" idautocomplete=""
                                           classautocomplete="form-control" label="Test"
                                           placeholder="Ciudades" itemlabel="descripcion" itemdescrip="" model="model.ciudad"
                                           on-select=""
                                           modelsourcename="testService" serviceatributefiltername="search">
                            </autocomplete-resource>